.modal-content {
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 10%;
  right: 0;
  background-color: cornflowerblue;
  margin: 0 auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 0px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
  z-index: 11;
  /* Sit on top */
  color: blueviolet;
}

/*# sourceMappingURL=index.css.map */
